<!-- HEADER -->
<header class="header">
    <div class="container header-container">
        <div style="display: flex;">
        <div class="logo">
            <img src="/diet-nuh/img/real/logo.jpeg" alt="Logo">
        </div>
        <div class="title">
            <h1>District Institute of Education and Training</h1>
            <p>Nuh</p>
        </div>
    </div>
        <div class="logo">
            <img src="/diet-nuh/img/gov-haryana.jpeg" alt="Logo">
        </div>
    </div>
</header>

<!-- NAVBAR WITH DROPDOWN -->
<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/diet-nuh//index.html">Home</a></li>

        <li class="dropdown">
            <a href="#">About ▾</a>
            <ul class="dropdown-menu">
                <li><a href="/diet-nuh/pages/about-section/about.html">About Institute</a></li>
                <li><a href="/diet-nuh/pages/about-section/objective.html">Objective</a></li>
                <li><a href="/diet-nuh/pages/about-section/staff-details.html">Staff Detais</a></li>
                <li><a href="/diet-nuh/pages/about-section/principal-message.html">Principal Message</a></li>
                <li><a href="/diet-nuh/pages/about-section/vision-misson.html">Vision & Mission</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">Departments ▾</a>   
            <ul class="dropdown-menu">
                <li><a href="/diet-nuh/pages/departments/pstc.html">Pre-service Teacher Education (PSTE)</a></li>

<li><a href="/diet-nuh/pages/under-constuction.html">In-service Programmes, Field Interaction, Innovation Coordination (IFIC)</a></li>

<li><a href="/diet-nuh/pages/under-constuction.html">District Resource Unit (DRU)</a></li>

<li><a href="/diet-nuh/pages/under-constuction.html">Work Experience (WE)</a></li>

<li><a href="/diet-nuh/pages/under-constuction.html">Educational Technology (ET)</a></li>

<li><a href="/diet-nuh/pages/under-constuction.html">Planning and Management (P&amp;M)</a></li>

<li><a href="/diet-nuh/pages/under-constuction.html">Curriculum, Material Development and Evaluation (CMDE)</a></li>
            </ul>
        </li>

        <li><a href="/diet-nuh/pages/latest-news.html">Latest News </a></li>
        <li><a href="/diet-nuh/pages/photo-gallery/gallery.html">Image Gallery</a></li>
        <li><a href="/diet-nuh/pages/contact-us/contact-us.html">Contact</a></li>
    </ul>
</nav>